body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

.login-box {
    background-color: #344e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #ffffff;
}

.login-box input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 10px;
    border-radius: 70px;
}

.login-box button {
    background-color: #588157;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
